 
  body {
    text-align: center;

  }


.dot {
    height: 15px;
    width: 15px;
    background-color: rgb(221, 147, 63);
    border-radius: 50%;
    display: inline-block;
  }
  
  .circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    background: rgb(234, 177, 55);
    border: 3px solid #000;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;
    display: inline-block;
  }

  .try {
    font-size: 10px;a
    text-align: center;
  }


  .project {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    background: rgb(213, 62, 29);
    border: 3px solid #000;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;
    display: inline-block;
  }


  .contact {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    background: rgb(80, 207, 235);
    border: 3px solid #000;
    color: #000;
    text-align: center;
    font: 32px Arial, sans-serif;
    display: inline-block;
  }

  h3 {
    text-align: center;
    font-family: cursive;
    color: red;
    font-size: 30px;
  }

  h4 {
    text-align: center;
    font-family: monospace;
  }

  span {
    color: red;
    font-size: 50px;
  }

button {
  background-color: red;
  font-size: 25px;
  text-decoration: none;
}
 
img {
 width: 100%;
 height: auto;
}

.icon {
  font-family: sans-serif;
  color: black;
}